image:
  name: minimal-os-image-madani
  version: "24.04"

target:
  os: madani
  dist: madani24
  arch: x86_64
  imageType: iso # Image type, valid value: [raw, iso].

disk:
  name: Default_ISO
  partitionTableType: gpt # Partition table type, valid value: [gpt, mbr]
  partitions: # Required for raw, optional for ISO, not needed for rootfs.
    - id: boot
      type: esp
      flags:
        - esp
        - boot
      start: 1MiB
      end: 513MiB
      fsType: fat32
      mountPoint: /boot/efi

    - id: rootfs
      type: linux-root-amd64
      start: 513MiB
      end: "0"  # 0 means use the rest of the disk space
      fsType: ext4
      mountPoint: /

systemConfig: # Required
  name: Default_ISO
  description: Default yml configuration for iso image

  initramfs:
    template: default-initrd-x86_64.yml

  bootloader:
    bootType: efi # (efi or legacy)
    provider: grub # (grub for efi and legacy mode, or systemd-boot for efi mode)

  packages:
    - ubuntu-minimal
    - grub-pc-bin
    - grub-efi-amd64-bin
    # # - initramfs-tools
    # # - dracut-core
    # - systemd
    # # - cryptsetup-bin
    # - systemd-resolved
    # # GUI packages
    # - xfce4 
    # - xfce4-goodies    
    # - xrdp 
    # - xfce4-session 
    # - dbus-x11 
    # - dbus-user-session
    # - x11-xserver-utils 
    # - xorg 
    # - mesa-utils
    # - ssl-cert
    # - lightdm
    # - lightdm-gtk-greeter
    # #networking
    # - net-tools
    # - network-manager
    # - network-manager-gnome
    # - linux-firmware
    # - wireless-tools
    # - wpasupplicant

  additionalFiles:
    - local: ../additionalfiles/dhcp.network
      final: /etc/systemd/network/dhcp.network
    - local: ../additionalfiles/ubuntu-noble.list
      final: /etc/apt/sources.list.d/ubuntu-noble.list

  kernel:
    name: kernel
    packages:
     - linux-image-generic-hwe-24.04

  users:
    - name: user
      password: "user"               # Do not commit real plaintext passwords
      groups: ["wheel","sudo"]

