image:
  name: minimal-os-image-madani
  version: "24.04"

target:
  os: madani
  dist: madani24
  arch: x86_64
  imageType: img # Image type, valid value: [raw, iso].

systemConfig:
  name: Default_Initrd
  description: Default yml configuration for initrd image

  bootloader:
    bootType: efi # (efi or legacy)
    provider: grub # (grub for efi and legacy mode, or systemd-boot for efi mode)

  packages:
    # disk management
    - udisks2
    - util-linux
    - udev
    - os-prober
    - efibootmgr
    - kpartx
    - ntfs-3g
    - dosfstools
    - e2fsprogs
    - btrfs-progs
    - xfsprogs
    - parted
    - gparted
    - partitionmanager
    # operation
    - qemu-utils
    - pv
    - dmidecode
    - pciutils
    - usbutils
    - systemd
    # # calamares
    # - calamares
    # - calamares-settings-debian

    # base
    - ubuntu-minimal
    # bootloader
    - grub-pc-bin
    - grub-efi-amd64-bin
    # GUI packages
    - xfce4 
    - xfce4-goodies    
    - xrdp 
    - xfce4-session 
    - dbus-x11 
    - dbus-user-session
    - x11-xserver-utils 
    - xorg 
    - mesa-utils
    - ssl-cert
    # - lightdm
    # - lightdm-gtk-greeter
    - xinit
    - xterm
    - dbus
    - policykit-1
    - openbox
    #networking
    - net-tools
    - network-manager
    - network-manager-gnome
    - linux-firmware
    - wireless-tools
    - wpasupplicant
    # calamares dependencies
    - qtbase5-dev
    - qtchooser
    - qt5-qmake
    - qttools5-dev-tools
    - qttools5-dev
    - libqt5svg5-dev
    - qtdeclarative5-dev
    - libpolkit-qt5-1-dev
    - libkf5coreaddons-dev
    - python3-dev
    - libkpmcore-dev
    - libkpmcore12
    - libkf5i18n-dev
    - libkf5widgetsaddons-dev
    # calamares
    - calamares
    - calamares-settings-debian
    # edit
    - nano

  additionalFiles:
    - local: ../additionalfiles/dhcp.network
      final: /etc/systemd/network/dhcp.network
    - local: ../additionalfiles/ubuntu-noble.list
      final: /etc/apt/sources.list.d/ubuntu-noble.list
    - local: ../additionalfiles/getty@.service
      final: /usr/lib/systemd/system/getty@.service
    - local: ../additionalfiles/serial-getty@.service
      final: /usr/lib/systemd/system/serial-getty@.service
    - local: ../../../../../general/isolinux/attendedinstaller
      final: /root/attendedinstaller
    - local: ../additionalfiles/calamares-settings.conf
      final: /etc/calamares/settings.conf
    - local: ../additionalfiles/madani/branding.desc
      final: /etc/calamares/branding/madani/branding.desc
    - local: ../additionalfiles/madani/debian-logo.png
      final: /etc/calamares/branding/madani/debian-logo.png
    - local: ../additionalfiles/madani/show.qml
      final: /etc/calamares/branding/madani/show.qml
    - local: ../additionalfiles/madani/slide1.png
      final: /etc/calamares/branding/madani/slide1.png
    - local: ../additionalfiles/madani/welcome.png
      final: /etc/calamares/branding/madani/welcome.png
    - local: ../additionalfiles/welcome.conf
      final: /etc/calamares/modules/welcome.conf
    - local: ../additionalfiles/partition.conf
      final: /etc/calamares/modules/partition.conf
    - local: ../additionalfiles/users.conf
      final: /etc/calamares/modules/users.conf
    - local: ../additionalfiles/locale.conf
      final: /etc/calamares/modules/locale.conf
    - local: ../additionalfiles/finished.conf
      final: /etc/calamares/modules/finished.conf
    # - local: ../../../../../../build/live-installer
    #   final: /usr/bin/live-installer

  users:
    - name: root
      startupScript: "/root/attendedinstaller"

  kernel:
    name: kernel
    version: "6.14"
    cmdline: "console=ttyS0,115200 console=tty0 loglevel=7"
    packages:
      - linux-image-generic-hwe-24.04