image:
  name: azl3-default-x86_64
  version: "1.0.0"

target:
  os: azure-linux # Target OS name
  dist: azl3 # Target OS distribution
  arch: x86_64 # Target OS architecture
  imageType: iso # Image type, valid value: [raw, iso].

disk:
  name: Default_ISO
  partitionTableType: gpt # Partition table type, valid value: [gpt, mbr]
  partitions: # Required for raw, optional for ISO, not needed for rootfs.
    - id: boot
      type: esp
      flags:
        - esp
        - boot
      start: 1MiB
      end: 513MiB
      fsType: fat32
      mountPoint: /boot/efi

    - id: rootfs
      type: linux-root-amd64
      start: 513MiB
      end: "0"  # 0 means use the rest of the disk space
      fsType: ext4
      mountPoint: /

systemConfig: # Required
  name: Default_ISO
  description: Default yml configuration for iso image

  initramfs:
    template: default-initrd-x86_64.yml

  bootloader:
    bootType: efi # (efi or legacy)
    provider: grub # (grub for efi and legacy mode, or systemd-boot for efi mode)

  packages:
    # grub2-mkconfig
    - grub2

    # developer-packages
    - build-essential
    - cmake
    - createrepo_c
    - curl-devel
    - device-mapper
    - flex
    - fuse-devel
    - git
    - golang
    - iputils
    - less
    - linux-firmware
    - net-tools
    - ninja-build
    - parted
    - pciutils
    - python3-pip
    - tar
    - texinfo
    - usbutils

    # virtualization-host-packages
    - qemu-kvm
    - qemu-img

    # core-packages-image
    - shim
    - grub2-efi-binary
    - ca-certificates
    - cronie-anacron
    - logrotate
    - core-packages-base-image
    - dracut-hostonly
    - dracut-vrf
    - initramfs
    - shadow-utils

    # core-tools-packages
    - dnf
    - vim
    - wget

    # hyperv packages
    - dracut-hyperv
    - hyperv-daemons

    # ssh-server
    - openssh-server

    # selinux-full
    - selinux-policy
    - selinux-policy-devel
    - policycoreutils-python-utils
    - checkpolicy
    - secilc
    - setools-console

    # drtm
    - tboot
    - tpm2-tools
    - tpm2-tss

    # virt-guest-packages
    - dracut-virtio
    - dracut-xen

  additionalFiles:
    - local: ../additionalfiles/99-dhcp-en.network
      final: /etc/systemd/network/99-dhcp-en.network

  kernel:
    name: kernel
    cmdline: "console=ttyS0,115200 console=tty0 loglevel=7"
    packages:
     - kernel